pydantic~=1.7.3
setuptools~=50.3.2
boto3~=1.16.13
StructNoSQL~=2.6.3
botocore~=1.19.13
requests~=2.24.0
click~=7.1.2
boto~=2.49.0
Jinja2~=2.11.2
inflect~=4.1.0
PyYAML~=5.4.1
future~=0.18.2
discord~=1.0.1
tqdm~=4.57.0