<!--<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-<script>var exports = {};</script>
    <script src="{{url_for('static', filename='js/require.js/require.js')}}"></script>->
    <script src="{{url_for('static', filename='diagrams/test.js')}}"></script>
    <!-<script src="{{url_for('static', filename='node_modules/@projectstorm/react-diagrams-defaults/dist/@types/node/DefaultNodeModel.d.ts')}}"></script>->
</head>
<body>
    <CanvasWidget engine={engine} />
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Project STORM | React Diagrams demo</title>
    <script src="{{url_for('static', filename='diagrams/test.js')}}"></script>
</head>
<body>
<div id="application"/>
</body>
</html>
