<html>
<head>
	<script type="text/javascript">//<![CDATA[
		"use strict"; (function () {
			var vp = document.createElement("meta");
			vp.setAttribute("name", "viewport");
			vp.setAttribute("content", ((screen.availWidth >= 544) || (screen.availHeight >= 544)) ? "width=device-width, initial-scale=1" : "width=544");
			document.head.appendChild(vp);
		})(); //]]>
	</script><meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="Shortcut Icon" href="/favicon.ico">
	<title>Equalizer</title>
	<link rel="stylesheet" href="/static/js/equalizer/GraphicalFilterEditor.css">
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/Common.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/FFTNR.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/GraphicalFilterEditor.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/GraphicalFilterEditorControl.js"></script><link rel="stylesheet" href="GraphicalFilterEditorHover.css">
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/Analyzer.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/AnalyzerWL.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/Program.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/SoundParticles.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/equalizer/MainInit.js"></script>
</head>
<body>
<div style="margin: 16px 0px;"><div style="display:inline-block; background-color: #303030; padding: 8px;">
	<input type="radio" value="0" name="chkSource" id="chkSource0">
	<label for="txtFile" onclick="return selectSource(0);">Load your own file:</label>
	<input type="file" id="txtFile">
	<br>or<br>
	<input type="radio" value="1" name="chkSource" id="chkSource1">
	<label for="txtURL" onclick="return selectSource(1);">Enter the address of a file:</label>
	<input type="url" id="txtURL"><span>* Not all URL's may work, and may fail without warning :(</span>
	<br>or<br>
	<input type="radio" value="2" name="chkSource" id="chkSource2" checked="checked">
	<label for="chkSource2" onclick="return selectSource(2);">Try this sample: 50 seconds from</label>&gt;
	<br>
</div>
<div class="SEP"></div>
<button id="btnPlay">Play</button>
<button id="btnStop">Stop</button>
|
<select id="cbLoadType">
	<option value="0" selected="selected">Play file via streaming *</option>
	<option value="1">Load entire file into memory before playing **</option>
</select>
<div class="SEP"></div>
<button id="btnProcess">Process file offline and download the filtered version (WAVE)! **</button> <img class="HID" id="imgLoader" alt="Processing..." src="loader.gif">
<div class="SEP"></div>
	<label for="cbFilterLength">Filter Length:</label>
	<select id="cbFilterLength">
		<option value="64">64</option>
		<option value="128">128</option>
		<option value="256">256</option>
		<option value="512">512</option>
		<option value="1024">1024</option>
		<option value="2048" selected="selected">2048</option>
		<option value="4096">4096</option>
		<option value="8192">8192</option>
	</select>
	<label for="cbAnalyzer">Analyzer:</label>
	<select id="cbAnalyzer">
		<option value="none" selected="selected">None</option>
		<option value="soundParticles">Sound Particles</option>
		<option value="fft">Frequency analyzer</option>
		<option value="wl">Haar wavelet analyzer</option>
	</select>
</div>

<div id="equalizerPlaceholder"></div>
<div id="analyzerPlaceholder" style="vertical-align: top; display: inline-block; margin-left: 16px;"></div>


<script type="text/javascript">
	main();
</script>
</body></html>