<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Inoft Vocal Engine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- styles -->
  <link rel="stylesheet" id="style" href="{{url_for('static', filename='css/style.css')}}" media='all' />
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../waveform-playlist-master/waveform-playlist-master/src/app.js"></script>
</head>
<body>
  <div class="main-container flex-container">
    {% include "sidebar/sidebar.html" %}

    <div class="main-panel container light-mode">
      <br>
      <div id="projectDirField"></div>
      <div id="list-content">
        {{list_content|safe}}
      </div>
    </div>
  </div>
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <!--
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script type="text/jsx">
    class ProjectDirectory extends React.Component {
        constructor(props) {
          super(props);
          this.state = {value: "{{filepath}}" };

          this.handleChange = this.handleChange.bind(this);
          this.handleSubmit = this.handleSubmit.bind(this);
        }

        handleChange(event) {
          this.setState({value: event.target.value});
        }

        handleSubmit(event) {
          $.ajax({
              type: 'POST',
              url: '/project_dir',
              data: JSON.stringify({filepath: this.state.value}),
              contentType: 'application/json',
              success: function (response_data) {
                let $container = $("#list-content");
                $container.empty();
                $container.append(response_data.html);
              }
          });

          event.preventDefault();
        }

        render() {
          return (
            <form onSubmit={this.handleSubmit}>
              <label>
                Name:
                <input type="text" value={this.state.value} onChange={this.handleChange} />
              </label>
              <input type="submit" value="Submit" />
            </form>
          );
        }
      }

      ReactDOM.render(
        <ProjectDirectory />,
        document.getElementById('projectDirField')
      );

  </script>
</body>
</html>

